{% extends 'base.html' %}

{% block title %}SchoolTracker - Diário de Bordo{% endblock %}
{% block body_class %}body-home{% endblock %}

{% block content %}
<div class="container espacamento">
    <div class="row justify-content-center align-items-center" style="height: 85vh;">
        <div class="col-md-6 caixa-forms">
            <h3 class="text-center">Digite o seu RA</h3>
            {% if mensagem %}
                <h6 class="text-danger text-center">{{ mensagem }}</h6>
            {% endif %}

            <form method="POST" action="">
                <div class="mb-3 d-flex justify-content-center align-items-center input-home">
                    <input type="text" class="form-control me-2" id="ra" name="ra" required style="width: 40%; margin-right: 5px;" oninput="verificaRA(this.value)" autofocus>
                    <br>
                    <input type="password" class="form-control me-2" id="senha-container" name="senha" required placeholder="Digite sua senha" style="width: 40%; display: none;">  
                    <button type="submit" class="btn btn-primary" id="entrar-button" style="display: none;">Entrar</button>
                </div>
            </form>
            <div class="text-center">
                <div id="mensagem-ra" class="text-danger text-center" style="display: none;"></div>
                <small>Ainda não é cadastrado? <a href="{{ url_for('cadastro') }}">Cadastre-se.</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
